@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;

  --color-brand-black: #000000;
  --color-brand-dark: #1a1a1a;
  --color-brand-gray: #333333;
  --color-brand-gray-light: #999999;
  --color-brand-light: #f5f5f5;
  --color-brand-white: #ffffff;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase tracking-wider font-bold text-brand-black;
  }
}

.input-minimalist {
  @apply w-full bg-brand-light border border-transparent py-3 px-4 outline-none rounded-xl text-brand-black placeholder-brand-gray-light focus:border-brand-black focus:bg-brand-white transition-all duration-200;
}

